# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
#workspace.classpath=
workspace.build.dir=${workspace.dir}/build

workspace.packages.dir=${workspace.dir}/packages
workspace.theme.dir=${workspace.packages.dir}/${args.themeName}

touch.dir=${workspace.dir}/touch
workspace.cmd.version=4.0.0.203